<li id="<%= feed_item.id %>">
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<div>
		<span class="title"><%= feed_item.title %></span>
		<div>
			<span class="body"><%= feed_item.body %></span>
		</div>
	</div>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
</li>